<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.YazOkuluDbConnectionString"
            connectionString="Data Source=DESKTOP-5C8GF20;Initial Catalog=YazOkuluDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>